body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.cancel-notification {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
#reminder-interval {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}

nav ul {
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
  }
  #habit-notification {
    margin: 5px;
    cursor: pointer;
  }
  .habit-notification-enabled {
    background-color: #ffcccb;
    color: #d8000c;
  }

  nav ul li {
    margin: 0 15px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

  #create-habit {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #habit-form {
    display: flex;
    flex-direction: column;
  }

  #habit-form input,
  #habit-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  #habit-form button {
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }

  #habit-form button:hover {
    background-color: #218838;
  }

  #habits {
    list-style: none;
    padding: 0;
  }

  #habits li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  #habits li .habit-name {
    font-weight: bold;
    color: #333;
  }

  #habits li .habit-goal {
    color: #555;
    font-size: 14px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .progress-button {
    margin-left: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  #category-color {
    margin: 5px 0;
  }

  #reset-category-form {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  option[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    white-space: nowrap;
    z-index: 20;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
  }

  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
      margin: 0;
    }

    nav ul li {
      margin: 10px 0;
    }

    body {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
